body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
    color: #555555;
}

header {
    background: #1E3A5F;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

#about {
    height: 400px;
    padding: 40px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.background-image {
    background-image: url('Imagenes/calle.avif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 10px;
}

h2 {
    color: #1E3A5F;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.skills-container .info-box {
    flex: 1;
    min-width: 45%;
    text-align: center;
}

.info-box {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

ul li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

ul li i {
    font-size: 1.2em;
    color: #007BFF;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    gap: 20px;
}

.contact-container .info-box {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-container a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.contact-container a:hover {
    text-decoration: underline;
}

.contact-container i {
    font-size: 1.5em;
    color: #1E3A5F;
}

/* Estilos para el enlace de descarga */
a.download-link {
    color: #28A745; /* Verde fresco */
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border: 2px solid #28A745;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

a.download-link:hover {
    background-color: #28A745; /* Fondo verde al pasar el mouse */
    color: #fff; /* Texto blanco al pasar el mouse */
}

footer {
    text-align: center;
    padding: 10px;
    background: #1E3A5F;
    color: #fff;
    width: 100%;
}